<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="CONECTARDB" connectionString="Data Source=DESKTOP-VVG2D15\SQLEXPRESS; Initial Catalog=PRUEBATEC; User Id=sa; Password=pruebatec" providerName="System.Data.SqlClient"></add>
	
	
		
	</connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <bindings>
      <basicHttpBinding>
        <binding name="HTTP" closeTimeout="00:12:00" maxReceivedMessageSize="65536" maxBufferSize="65536" />
      </basicHttpBinding>
		  </bindings>
			  <services>
				  <service  name="Prueba.Usuarios.Implementacion.UsuarioService">	
					  <endpoint address="" binding="basicHttpBinding"  bindingConfiguration="HTTP" contract="Prueba.Usuarios.Contrato.IUsuarioService"/>
				  </service>
			  </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
